<div class="app">
  <h1>Coin Flip!</h1>
  <p>Flip a coin!</p>
  <%= button_to "Flip Coin!", coin_flip_check_path %>
  <br />
  <br />
  <h3><%= link_to "Back to Tidbits List", tidbits_path, class: "link" %></h3>
</div>