<div class="app">
  <h1>Dice Roll!</h1>
  <p>Choose the number of dice to roll!</p>
  <%= button_to "Roll One Die", dice_roll_check_path(dice_number: 1) %>
  <br />
  <%= button_to "Roll Two Dice", dice_roll_check_path(dice_number: 2) %>
  <br />
  <br />
  <h3><%= link_to "Back to Tidbits List", tidbits_path, class: "link" %></h3>
</div>