<div style="text-align: center">
  <h1>Tidbits</h1>
  <h3><%= link_to "Palindrome Checker", palindrome_path %></h3>
  <h3><%= link_to "Guessing Game", guessing_game_path %></h3>
  <h3><%= link_to "Largest Prime Factor", largest_prime_path %></h3>
  <h3><%= link_to "Dice Roll", dice_roll_path %></h3>
</div>