<div style="text-align: center">
  <%= image_tag @answer[:image] %>
  <h1>You Rolled <%= @answer[:roll] %>!</h1>
  <%= button_to "Roll again!", dice_roll_check_path %>
  <br />
  <%= link_to "Tidbit List", tidbits_path %>
  <br />
  <br />
  <h2>Explanation:</h2>
</div>