<div class="app">
  <h1>Ruby Tidbits!</h1>
  <h3 style="color: darkred">By Shujaat Azim</h3>
  <div class="text-block">
    <p>
      Welcome! I created this no-frills Ruby on Rails project because I'd encountered/created many interesting little methods during my time learning 
      to code that I wanted to preserve them in one place.
      <br /><br />
      I called these little functions "tidbits," hence the project's name. Plus, it was a good excuse to try and make a standalone Rails app for practice! 
      <br /><br />
      I hope you enjoy the tidbits, and maybe even learn a bit about them from their associated explanations!
    </p>
  </div>
  <br />
  <h3><%= link_to "Tidbits List", tidbits_path, class: "link" %></h3>
</div>