<div style="text-align: center">
  <h1>Ruby Tidbits!</h1>
  <p>
    Here is where I will explain why I made this.
  </p>
  <br />
  <br />
  <%= link_to "List of Shu's Tidbits", tidbits_path %>
</div>