<div class="app">
  <h1>Ruby Tidbits!</h1>
  <h3 style="color: darkred">Built with Ruby on Rails by Shujaat Azim</h3>
  <p>
    Welcome! I created this little Ruby on Rails app because I made so many fun, interesting little methods during my time learning 
    to code that I wanted to preserve them in one place. 
  </p>
  <p>
    I called these little functions "tidbits," hence the app's name. Plus, it was a good reason to make a Rails-only app for practice! 
  </p>
  <p>
    I hope you enjoy them, and maybe even learn a bit about them from 
    their associated explanations!
  </p>
  <br />
  <h3><%= link_to "List of Tidbits", tidbits_path %></h3>
</div>